.screen-27 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.screen-27 .main-content {
  background-color: #ffffff;
  height: calc(100vh - 101px);
  position: absolute;
  width: 100%;
  padding-bottom: 0px; /* Footerの高さ分 */
  box-sizing: border-box;
  overflow-y: auto;
}

.screen-27 .frame-532 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  left: 0;
  position: relative;
  top: 0px;
  width: 100%;
}

.screen-27 .frame-533 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}

.screen-27 .text-wrapper-265 {
  color: #0b4f7f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
  text-align: right;
  position: relative;
}

.screen-27 .div-10 {
  color: var(--4);
  font-family: Arial, Helvetica; font-weight: bold;
  font-size: 10px;
  
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-27 .text-wrapper-257 {
  color: #1a1a1a;
  
}

.screen-27 .text-wrapper-258 {
  color: #1a1a1a;
  
}

.screen-27 .text-wrapper-259 {
  color: #1a1a1a;
}


.screen-27 .frame-535 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}


.screen-27 .text-wrapper-260 {
  color: var(--4);
  font-family: Arial, Helvetica;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: normal;     /* 折り返し可能に */
  word-break: break-word;  /* 長い単語も折り返し */
  width: 100%;             /* 横幅いっぱい使う */
  max-width: 100%;         /* はみ出し防止 */
  box-sizing: border-box;
}

