.screen-18 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-18 .main-content {
  background-color: #ffffff;
  height: calc(100vh - 101px);
  position: absolute;
  width: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
  overflow-y: auto;
}

.screen-18 .frame-164 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

.screen-18 .text-wrapper-96 {
  color: #0B4F7F;
  font-family: Arial, Helvetica; 
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-18 .frame-160 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #D4D4D4;
}

.screen-18 .gray-box {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  color: #333;
  width: 100%;
  height: 200px;
}

.screen-18 .frame-161 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.screen-18 .text-wrapper-93-1,
.screen-18 .text-wrapper-93-2,
.screen-18 .text-wrapper-93-3,
.screen-18 .text-wrapper-93-4,
.screen-18 .text-wrapper-93-5,
.screen-18 .text-wrapper-93-6 {
  color: #1A1A1A;
  font-family: Arial, Helvetica;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.screen-18 .gray-box2 {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  color: #333;
  width: 100%;
  height: 100px;
}

.screen-18 .frame-84 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}

.screen-18 .heart-2 {
  height: 24px;
  position: relative;
  width: 24px;
}

.screen-18 .vector-16 {
  height: 18px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 21px;
}

.screen-18 .text-wrapper-67 {
  color: #1A1A1A;
  font-family: Arial, Helvetica; 
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-18 .text-wrapper-94-1,
.screen-18 .text-wrapper-94-2,
.screen-18 .text-wrapper-94-3 {
  color: #1A1A1A;
  font-family: Arial, Helvetica;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.screen-18 .text-wrapper-95-1,
.screen-18 .text-wrapper-95-2,
.screen-18 .text-wrapper-95-3,
.screen-18 .text-wrapper-95-4,
.screen-18 .text-wrapper-95-5,
.screen-18 .text-wrapper-95-6 {
  color: #1A1A1A;
  font-family: Arial, Helvetica;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.2;
  position: relative;
  text-align: left;
  white-space: normal;
  word-break: break-word;
  width: 100%;
}

.screen-18 .frame-170 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 0px;
  position: relative;
  width: 100%;
}

.screen-18 .text-wrapper-96-1 {
  color: #1A1A1A;
  font-family: Arial, Helvetica;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}





.screen-18 .frame-180 {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-bottom: 1px solid #D4D4D4;
}

.screen-18 .frame-182 {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.screen-18 .frame-181 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-top: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
  border-bottom: none;
}

.screen-18 .row {
  display: flex;           /* 横並び */
  flex-direction: row;     /* 横方向に子を並べる */
  width: 100%;             /* row自体を横幅100%に */
}

.screen-18 .sub-row {
  display: flex;
  flex: 1;                 /* 親の幅に応じて伸縮 */
}

/* 1行目 */
.screen-18 .row-1 .cell-1 { 
  width: 100%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  color: #ffffff;
  background-color: #0B4F7F;
  font-weight: bold;
}

/* 2行目 */
.screen-18 .row-2 .cell-span-2 { 
  width: 75%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
  font-weight: bold;
}
.screen-18 .row-2 .cell-2 { 
  width: 25%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  font-weight: bold;
}

/* 3行目 */
.screen-18 .row-3 .sub-cell-3-1 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

.screen-18 .row-3 .sub-cell-3-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-3 .sub-cell-3-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-3 .cell-3 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

/* 4行目 */
.screen-18 .row-4 .sub-cell-4-1 {
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-4 .sub-cell-4-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-4 .sub-cell-4-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-4 .cell-4 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

/* 5行目 */
.screen-18 .row-5 .sub-cell-5-1 {
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-5 .sub-cell-5-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-5 .sub-cell-5-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-5 .cell-5 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

/* 6行目 */
.screen-18 .row-6 .sub-cell-6-1 {
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-6 .sub-cell-6-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-6 .sub-cell-6-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-6 .cell-6 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}




/* 1行目 */
.screen-18 .row-7 .cell-7 { 
  width: 100%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  color: #ffffff;
  background-color: #0B4F7F;
  font-weight: bold;
}

/* 2行目 */
.screen-18 .row-8 .cell-span-8 { 
  width: 75%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
  font-weight: bold;
}
.screen-18 .row-8 .cell-8 { 
  width: 25%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  font-weight: bold;
}

/* 3行目 */
.screen-18 .row-9 .sub-cell-9-1 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

.screen-18 .row-9 .sub-cell-9-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-9 .sub-cell-9-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-9 .cell-9 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

/* 4行目 */
.screen-18 .row-10 .sub-cell-10-1 {
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-10 .sub-cell-10-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-10 .sub-cell-10-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-10 .cell-10 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

/* 5行目 */
.screen-18 .row-11 .sub-cell-11-1 {
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-11 .sub-cell-11-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-11 .sub-cell-11-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-11 .cell-11 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}

/* 6行目 */
.screen-18 .row-12 .sub-cell-12-1 {
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-12 .sub-cell-12-2 { 
  width: 18%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}
.screen-18 .row-12 .sub-cell-12-3 { 
  width: 41%; text-align: center;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.screen-18 .row-12 .cell-12 { 
  width: 25%; text-align: center; 
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D4D4D4;
}




.screen-18 .frame-309 {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  left: 1px;
  padding: 0px 0px 30px;
  position: relative;
  top: 0px;
  width: 100%;
}

.screen-18 .frame-310 {
  align-items: center;
  border: 1px solid;
  background-color: #FFD700;
  border-color: #FFD700;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 0px;
  position: relative;
  width: 40%;
  flex-shrink: 0;
}

.screen-18 .text-wrapper-206 {
  color: #0B4F7F;
  font-family: Arial, Helvetica;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-18 .frame-311 {
  align-items: center;
  background-color: #0B4F7F;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 0px;
  position: relative;
  width: 40%;
}

.screen-18 .text-wrapper-207 {
  color: #ffffff;
  font-family: Arial, Helvetica;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}